@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Source+Sans+Pro:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Open+Sans:wght@600&display=swap');
body {
  background-color: #fafafa;
  color: #282d46;
  padding: 20px;
  font-family: 'Poppins', 'Source Sans Pro';
  margin: 0;
  padding: 0;
}
.overview1 ,.overview2 , .research, .survey , .interview, .personas, .hmw , .solution, .comp_analysis, .sol_opp1, .sol_opp2, .lofi, .hifi, .prototype , .usability{
    margin-left: 15%;
    margin-right: 15%;
}
header nav {
  font-family: 'Raleway', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fafafa;
  height: 80px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  border-bottom-style: solid;
  border-width: 0.5px;
  border-color: #dfdfdf
}
header nav ul {
  display: flex;
  list-style: none;
  margin: 0 80px 0 0;
  padding-top: 25px;
}
header nav li {
  margin: 0 20px;
}
header nav a {
  color: #252525;
  text-decoration: none;
}
header nav a.active {
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
  font-weight: bold;
}
 header img {
  margin: 0 0 0 80px;
  padding-top: 17px;
  height: 35px;
  width: 25px;
}
.hamburger {
  display: none;
}
.mobile-nav {
  display: none;
}
.mobile-nav a{
  display: none;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #4C7EFE;
    position: absolute;
    top: 0;
    left:0;
}
.hero  h1{
    position: relative;
    top: 14%;
    color: #fafafa;
    font-size: 52px;
    font-weight: 600;
}
.hero p{
    position: relative;
    top: 11%;
    color: #fafafa;
    margin-top: 0;
    font-size: 16px;
    text-align: center;
}

.hero #main{
    width: 50%;
    height: auto;
    position: absolute;
    bottom: 0;
    max-width:550px;
    z-index: 1;
}
#watermark1{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15%;
    z-index: 0;
    opacity: 80%;
}
#watermark2{
    position: absolute;
    bottom: 0;
    left: 12%;
    width: 13%;
    z-index: 0;
    opacity: 80%;
}
#watermark3{
    position: absolute;
    bottom: 0;
    left: 26%;
    width: 7%;
    z-index: 0;
    opacity: 80%;
}
#watermark4{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 14%;
    z-index: 0;
    opacity: 80%;
}
#watermark5{
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 12%;
    z-index: 0;
    opacity: 80%;
}
#watermark6{
    position: absolute;
    bottom: 0;
    right: 22%;
    width: 7%;
    z-index: 0;
    opacity: 80%;
}
.fixed-btn {
  position: fixed;
  bottom: 50px;
  right: 6px;
  font-size: 12px;
  color: #252525;
  padding: 8px 12px;
  cursor: pointer;
  z-index: 3;
}
.fixed-btn p{
  font-size: 16px;
}
#progress {
  position: fixed;
  bottom: 20px;
  right: 30px;
  height: 50px;
  width: 50px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#progress-value {
  display: block;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 24px;
  color: #001a2e;
}
.overview1 .section1 h2{
    margin-top: 110vh;
    position: relative;
}
h2{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.05rem;
    margin-bottom: 0px;
    color: #4C7EFE;
    margin-bottom: 3%;
  }
  h3 {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -0.08rem;
    margin-top: 8px;
    margin-bottom: 0px;
}
p, .hmw p1{
    font-size: 18px;
    line-height: 1.8;
    font-weight: 400;
    margin-top: 8px;
  }
  .gap{
    margin-top: 100px;
  }
  .overview2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  .overview2 img{
    margin-top: 8px;
    margin-right: 25px;
    width: auto;
    height: 35px;
  }

  .problem_v1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 6%;
    width: 100vw;
    background-color: #4C7EFE;
    position: relative;
    top: 0;
    left:0;
    padding: 2% 0;
}
    h4{
        font-size: 22px;
        font-weight: 400;
        color: #fafafa;
        margin-bottom: 0;
    }

    h5{
        font-size: 30px;
        font-weight: 500;
        font-style: italic;
        color: #fafafa;
        text-align: center;
    }

    .grid-container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-auto-rows: minmax(250px, auto);
        grid-row-gap: 50px;
        grid-column-gap: 50px;
        margin-top: 5%;
    }
    .grid-item{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .grid-item img, .grid-item2 img{
        width:100%;
        height: auto;
    }
    .grid-container li{
        margin-bottom: -10%;
    }
    .grid-container ul{
         padding-left: 22px;
    }
    .grid-container h3{
        font-size: 22px;
   }
    #grid-item-3 .details{
        width: 200px;
    }
    .grid-container .details p, .grid-container .details2 p{
      font-size: 14px;
    }
    .grid-item2{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items:flex-start;
    }
    .grid-item2 li{
      margin-bottom: 0;
    }
    .grid-item2 .details2{
      width: 63%;
    }
    .links-button{
        display: flex;
        margin: auto;
        background-color: #393939;
        padding: 10px 16px;
        color: #fafafa;
        border-radius: 20px;
        cursor: pointer;
        font-weight: 500;
        margin-top: 2%;
        align-self: center;
        border: none;
    }
    .details-btn{
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 5%;
      gap: 2%;
    }
    .details-btn a{
        text-decoration: none;
        color: #fafafa;
    }
    h7{
        font-size: 250px;
        color: #ECF1FF;
        font-weight: 600;
    }
    .interview .section1 .description ul p{
        font-weight: 500;
    }
    .problem_v1 h5{
        margin-left: 15%;
        margin-right: 15%;
    }
    .quote img:nth-of-type(1) {
        opacity: 20%;
        transform: translate(-660%,35%);
        width: 6%;
      }
      .quote img:nth-of-type(2) {
        opacity: 20%;
        width: 6%;
        transform: translate(620%,-35%) rotate(180deg);
      }
      .grid-persona {
        display: flex;
        justify-items: start;
        flex-direction: row;
        width: 100%;
        height: auto;
        gap: 4%;
      }
      
      .grid-persona .grid-persona-child1{
        padding: 10px;
        width: 40%;
      }
      .grid-persona .grid-persona-child1 img{
        width: 86%;
      }
      
      .grid-persona .grid-persona-child2{
        padding: 10px;
        width: 60%;
      }
      .quote{
        text-align: -webkit-center;
      }
      .quote p{
        max-width:375px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
      }
      .story p {
        font-size: 14px;
      }
      .story h3 , .painpoints h3 , .goals h3{
        font-size: 20px;
      }
      .painpoints p , .goals p{
        font-size: 14px;
        margin-top: -10px;
      }
      .ideation{
        background-color: #4C7EFE;
        display: flex;
        flex-direction: row;
        padding: 1.5% 0;
        align-items: center;
        justify-content: space-between;
        padding-right: 10%;
        padding-left: 20%;
      }
      .ideation .title{
        margin: 0;
      }
      .ideation .photo{
      text-align: right;
      }
      .ideation img{
        width: 90%;
      }

      .hmw p{
        color: #8D8D8D;
      }
      .hmw p1{
        font-size: 22px;
        font-weight: 600;
      }
      .solution img{
        width: 100%;
        height: auto;
        margin-top: 5%;
      }
      .comp_analysis .info{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
      }
      .comp_analysis .description{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5% 0;
      }
      .comp_analysis .pains{
        display: flex;
        flex-direction: column;
        width: 42%;
        align-items: center;
        text-align: center;
      }
      .comp_analysis .total-pains{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
        .comp_analysis img{
        width: 75%;
        height: auto;
        text-align: center;
      }
      .comp_analysis h3{
        font-size: 24px;
      }
      .pains{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
      .pains img{
        width: 9%;
        height: auto;
        margin-top: 3%;
      }
      .sol_opp1 .solution{
        display: flex;
        flex-direction: row;
        margin: 5% 0;
      }
      .sol_opp1 .solution .description{
        width: 50%;
        height: auto;

      }

      .sol_opp1 .solution .photo{
        width: 50%;
        height: auto;
      }
      .sol_opp1 .solution , .sol_opp2 .solution{
      margin: 0;
      }
      .sol_opp2 .points{
        display: flex;
        flex-direction: row;
      }
      .sol_opp2 .points .pointer{
        display: flex;
        flex-direction: column;
        width: 33%;
        padding: 0 3% 0 0;
      }
      .sol_opp2 h3{
        font-size: 26px;
      }
      .sol_opp2 .solution .photo{
        width: 66%;
        height: auto;
        margin-bottom: 5%;
      }
      .sol_opp2 .solution{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .sol_opp2 .solution .description{
        width: 66%;
        height: auto;
      }
      .lofi .section1{
        display: flex;
        flex-direction: column;
      }
      .lofi .section1 .rows{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .lofi .section1 img{
        margin: 1%;
        width: 75%;
        height: auto;
      }
      .hifi .section1 .rows{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .desktop{
        width: 72%;
        height: auto;
      }
      .mobile-web{
        width: 22%;
        height: auto;
      }
      .mobile-screen{
        width: 22%;
        height: auto;
      }
      .rows .desktop img{
        width: 100%;
      }
      .rows .mobile-web img{
        width: 100%;
      }
      .rows .mobile-screen img{
        width: 100%;
      }
      .prototype{
        width: 50%;
        height: auto;
      }
      .usability h3{
        margin-top: 5%;
        margin-bottom: 3%;
      }
      .usability ol{
        font-size: 26px;
      }
      .usability ul{
        font-size: 16px;
      }
      .usability .rows {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 5%;
      }
      .usability #mob2{
        text-align: center;
        width: 20%;
        place-self: center;
      }
      .usability #row-b #mob3{
        width: 47.7%;
      }

      .state2 {
        display: none;
      }
    
      #ch, #ch1{
        display: none;
      }
      #ch:checked ~ .content-after{
        display: block;
      }
      #ch:checked ~ .content-before {
        display: none;
      }
      #ch1:checked ~ .content-after{
        display: block;
      }
      #ch1:checked ~ .content-before {
        display: none;
      }
      .content-after{
        display: none;
      }
      label{
        cursor: pointer;
      }
      .connect-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #121212;
        padding: 3% 0;
        font-family: 'Raleway', sans-serif;
        }
        .connect-container p{
          margin-left: 5%;
          font-size: 42px;
          margin-bottom: 20px;
          color: #fafafa;
          text-align: left;
        }
        .connect-container n{
          font-size: 20px;
          color: #fafafa;
          text-align: left;
          margin-left: 5%;
          margin-top: 1%;
          margin-right: 5%;
        }
        .fa-linkedin-in{
          font-size: 40px;
          color: #fafafa;
          margin-right: 1%;
        }
        .fa-behance{
          font-size: 40px;
          color: #fafafa;
        }
        .icon-container {
        display: flex;
        justify-content: flex-start;
        margin-top: 2%;
        margin-left: 5%;
        gap: 2%;
        }
  
        .image-container {
        position: relative;
        }
        .Copyright p{
          text-align:left; 
          font-size:14px; 
          margin-top: 4%; 
          color: #7d7d7d;
          margin-left: 5%;
          margin-bottom: 0;
        }

      
      

      @media only screen and (min-width: 768px) and (max-width: 1023px){

        .overview1 ,.overview2 , .research, .survey , .interview, .personas, .hmw , .solution, .comp_analysis, .sol_opp1, .sol_opp2, .lofi, .hifi, .prototype , .usability{
            margin-left: 8%;
            margin-right: 8%;
        }
        .hero{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 85vh;
            width: 100vw;
            background-color: #4C7EFE;
            position: absolute;
            top: 0;
            left:0;
        }
        .hero h1{
            font-size: 46px;
        }
        .hero #main{
            width: 100%;
            max-width: 380px;
        }
        #watermark1, #watermark2, #watermark3, #watermark4, #watermark5, #watermark6{
            max-width: 100%;
        }

        .overview1 .section1 h2{
            margin-top: 95vh;
            position: relative;
        }

        .grid-item img , .grid-item2 img{
            width:70%;
            height: auto;
        }
        .grid-container h3{
            font-size: 18px;
       }
       p, .hmw p1{
        font-size: 14px;
      }
      h5{
        font-size: 22px;
      }
      h4{
        font-size: 16px;
      }
      h2{
        font-size: 12px;
      }
      .usability ol, .sol_opp2 h3, .comp_analysis h3, h3{
        font-size: 18px;
      }
      .story h3 , .painpoints h3 , .goals h3{
        font-size: 18px;
      }
      .story p {
        font-size: 12px;
      }
      .links button{
        margin-top: 0;
      }
      .quote img:nth-of-type(1), .quote img:nth-of-type(2) {
        width: 8%;
    }
    .connect-container {
      display: flex;
      flex-direction: column;
      text-align: left;
      padding: 4% 0;
      }
      .connect-container p{
        font-size: 24px;
      }
      .connect-container n{
        font-size: 16px;
      }
      .icon-container {
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
        gap: 3%;
        }
  
    .fa-linkedin-in{
      font-size: 30px;
      color: #fafafa;
      margin-right: 1%;
    }
    .fa-behance{
      font-size: 30px;
      color: #fafafa;
    }
    .Copyright p{
      text-align:center; 
      font-size:12px; 
      margin-top: 24px; 
      color: #7d7d7d;
      width: max-content;
    }
      
      }

      @media only screen and (max-width: 767px){

        .overview1 ,.overview2 , .research, .survey , .interview, .personas, .hmw , .solution, .comp_analysis, .sol_opp1, .sol_opp2, .lofi, .hifi, .prototype , .usability{
            margin-left: 4%;
            margin-right: 4%;
        }
        header nav {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background-color: #fafafa;
            height: 70px;
            z-index: 2;
            display: flex;
            justify-content: space-between;
            border-bottom-style: solid;
            border-width: 0.5px;
            border-color: #dfdfdf
          }
          header nav ul {
            display: none;
            display: flex;
            list-style: none;
            margin: 0 60px;
            padding-top: 20px;
          }
          header nav li {
            display: none;
            margin: 0 20px;
          }
          header nav a {
            color: #252525;
            text-decoration: none;
          }
          header nav a.active {
    
            border-bottom: 2px solid #000;
            padding-bottom: 5px;
            font-weight: bold;
          }
          header img {
            margin: 0 0 0 25px;
            padding-top: 17px;
            height: 35px;
            width: 25px;
          }
          .fixed-btn {
            display: none;
          }
          .hamburger{
            z-index: 2;
            position: relative;
            display: block;
            width: 44px;
            height: 50px;
            cursor: pointer;
            margin: 0 25px;
            padding-top: 20px;
            padding-right: 7px;
            padding-left: 7px;
            appearance: none;
            background: none;
            outline: none;
            border: none;
          }
          .hamburger .bar, .hamburger:after, .hamburger:before{
            z-index: 3;
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            background-color: #252525;
            margin: 7px 0px;
            transition: 0.4s;
            border-radius: 10px;
          }
          .hamburger.is-active:before{
            transform: rotate(-45deg) translate(-8px,7px);
          }
          .hamburger.is-active .bar{
            opacity: 0;
          }
          .hamburger.is-active:after{
            transform: rotate(45deg) translate(-6px,-7px);
          }
          .mobile-nav{
            position: fixed;
            top: 0;
            left: 100%;
            width: 100%;
            min-height: 100vh;
            display: block;
            z-index: 2;
            background-color: #f5f5f5;
            padding-top: 220px;
            transition: 0.4s;
    
          }
          .mobile-nav.is-active{
          left: 0;
          }
          .mobile-nav a {
              display: block;
              text-align: center;
              margin-bottom: 16px;
              padding: 12px 16px;
    
            }
            .mobile-nav a.active {
            display: block;
            margin: 0 auto 16px;
            padding: 0;
            text-align: center;
            width: fit-content;
            border-bottom: 2px solid #000;
            padding-bottom: 5px;
            font-weight: bold;
          }
  

        
        #main, #watermark1, #watermark2, #watermark3, #watermark4, #watermark5, #watermark6{
            max-width: 100%;
        }
        .hero{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 75vh;
            width: 100vw;
            background-color: #4C7EFE;
            position: absolute;
            top: 0;
            left:0;
        }
        .hero h1{
            font-size: 40px;
        }
        .hero p{
            font-size: 14px;
            margin: 0 5%;
        }
        .hero #main{
            width: 90%;
            max-width: 330px;
        }
        .overview1 .section1 h2{
            margin-top: 80vh;
            position: relative;
        }
        
        .gap{
            margin-top: 50px;
        }
        .overview2 img{
            margin-top: 8px;
            margin-right: 2px;
            width: auto;
            height: 20px;
          }
          .problem_v1 h5{
            margin: 8%;
        }
        .grid-item .image, .grid-item2 .image{
            text-align-last: center;
        }
        #grid-item-3 .details {
            width: 150px;
        }
        .grid-item img, .grid-item2 img{
            width:70%;
            height: auto;
        }
        .grid-item2{
          justify-content: space-evenly;
        }
        .grid-container{
            grid-template-columns: 100%;
            grid-auto-rows: minmax(200px, auto);
        }
        .grid-container h3{
            font-size: 16px;
       }
       .links-button {
        display: flex;
        margin: auto;
        background-color: #393939;
        padding: 9px 11px;
        color: #fafafa;
        border-radius: 20px;
        cursor: pointer;
        margin-top: 8%;
        font-size: 10px;

    }
       p, .hmw p1{
        font-size: 12px;
      }
      h5{
        font-size: 20px;
      }
      h4{
        font-size: 12px;
      }
      h2{
        font-size: 12px;
      }
      .usability ol, .sol_opp2 h3, .comp_analysis h3, h3{
        font-size: 14px;
        letter-spacing: 0;
      }
      .survey .section1 .description h3 {
        font-size: 14px;
    }
    .grid-persona{
        flex-direction: column;
        align-items: center;
    }
    .grid-persona .grid-persona-child1 {
        padding: 10px;
        width: 80%;
        text-align: center;
    }
    .grid-persona .grid-persona-child2 {
        width: 85%;
    }
    .quote img:nth-of-type(1) , .quote img:nth-of-type(2) {
        width: 8%;
    }
    .story h3, .painpoints h3, .goals h3 {
        font-size: 16px;
    }
    .painpoints p, .goals p {
        font-size: 12px;
        margin-top: -10px;
    }
      .story p {
        font-size: 12px;
      }
      .ideation {
        background-color: #4C7EFE;
        display: flex;
        flex-direction: column;
        padding: 4.5% 12% 6.5% 12%;
        align-items: center;
        /* padding-right: 10%; */
        /* padding-left: 12%; */
    }
    .ideation .photo{
        text-align: center;
        }
    .comp_analysis .pains {
        width: 46%;
    }    
    .comp_analysis .pains img {
        width: 15%;
    }
    .comp_analysis img {
        margin: 6% 0;
        width: 95%;
    }
    .sol_opp2 .points {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sol_opp2 .points .pointer {
        width: 86%;
    }
    .sol_opp2 .solution .description {
        width: 86%;
        height: auto;
    }
    .hifi ul{
        padding-left: 6%;
    }
    .usability ol , .usability ul{
        padding-left: 5%;
    }
    .mobile-screen p{
        font-size: 8px;
        margin-top: -4px;
    }
    
   .connect-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 6% 0;
    }
    .connect-container p{
      font-size: 24px;
    }
    .connect-container n{
      font-size: 14px;
    }

    .icon-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 4%;
    }

    .fa-linkedin-in{
      font-size: 24px;
      color: #fafafa;
      margin-right: 1%;
    }
    .fa-behance{
      font-size: 24px;
      color: #fafafa;
    }
    .Copyright p{

      text-align:left; 
      font-size:12px; 
      margin-top: 24px; 
      color: #7d7d7d
    }
      }






