        @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
        header {
        background-color: #fafafa;
        padding: 20px;
        font-family: 'Raleway', sans-serif;
      }
      body {
        background-color: #fafafa;
        font-family: 'Raleway', sans-serif;
        margin: 0;
      }
      .header-center-1 , .header-center-2 , .header-center , .project{
        margin: 0 5%;
      }
      header nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #fafafa;
        height: 80px;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        border-bottom-style: solid;
        border-width: 0.5px;
        border-color: #dfdfdf
      }
      header nav ul {
        display: flex;
        list-style: none;
        margin: 0 80px 0 0;
        padding-top: 25px;
      }
      header nav li {
        margin: 0 20px;
      }
      header nav a {
        color: #252525;
        text-decoration: none;
      }
      header nav a.active {
        border-bottom: 2px solid #000;
        padding-bottom: 5px;
        font-weight: bold;
      }
      .header-center {
        text-align: center;
        padding: 20px 0;
      }
      .header-center-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 100vh;
      }
      .header-center-2 {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        color: #fff;
        text-align: center;
        padding: 12px;
        font-size: 16px;
      }

      .header-center-2 img {
        width: 2%;
        height: auto;
        margin: 0;
        animation: float 2s ease-in-out infinite;
      }




      .header-center-1 h1 {
        position: relative;
        top: 25%;
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 10px;
        opacity: 0; /* initially hide the text */
        transition: all 1.5s ease; /* set the transition */
      }

      .header-center-1 h1.show {
        opacity: 1; /* reveal the text */
      }

      .header-center-1 p {
        position: relative;
        top: 25%;
        font-size: 104px;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 0;
        opacity: 0; /* initially hide the text */
        transition: all 1.5s ease; /* set the transition */
      }
      .header-center-1 p.show {
        opacity: 1; /* reveal the text */
      }
      header img {
        margin: 0 0 0 80px;
        padding-top: 17px;
        height: 35px;
        width: 25px;
      }
      .bttn{
        position: relative;
        top: 25%;
        margin-top: 30px;
      }
      .contact {
        padding: 10px 40px;
        background-color: transparent;
        color: #252525;
        border: 1px solid #252525;
        border-radius: 20px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      .contact:hover {
        background-color: #252525;
        color: #ffffff;
      }

      .header-center h2 {
        margin-top: 80px;
        text-align: left;
        font-size: 18px;
        opacity: 50%;
      }
      .project {
       display: flex;
       align-items: center;
       position: relative;
      }
      .project::after {
      content: "";
      position: absolute;
      bottom: -100px;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 80%;
      background-color: rgba(0, 0, 0, 0.2);
      }
      #project_3::after{
        display: none;
      }
      #project_3 .description p{
        margin-bottom: 16px;
      }

      .gap {
        margin-top: 200px;
      }

      .description {
        width: 70%;
        text-align: left;
        padding-right: 50px;
      }
      .description h3 {
        font-size: 47px;
        margin-bottom: 0px;
        margin-top: 0px;
      }
      h3 a{
        text-decoration: none;
        color: #252525;
      }
      p a{
        text-decoration: none;
        color: #252525;
      }
      .description minimal-button a{
        text-decoration: none;
        color: #252525;
      }
      .description minimal-button:hover a{
        text-decoration: none;
        color: #ffffff;
      }


      .description p {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 48px;
      }
      .description minimal-button {
        padding: 10px 20px;
        background-color: transparent;
        color: #252525;
        border: 1px solid #252525;
        border-radius: 20px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
      }

      .description minimal-button:hover {
        background-color: #252525;
        color: #ffffff;
      }

      .description minimal-button::after {
        align-content: center;
        content: "→"; /* Arrow character */
        font-size: 18px; /* Set the font size */
        margin-left: 8px; /* Add some space between the text and the arrow */
      }
      #project_3 .description minimal-button::after {
        display: none;
      }
      h6{
        font-size: 12px;
        font-weight: 500;
        margin: 0 0 20px 0;
      }
      .fa-lock{
        margin-left: 2%;
      }
     .project img {
      width: 100%;
      height: auto;
      float: right;
      }
      .connect-container {
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color: #121212;
      padding: 3% 0;
      }
      .connect-container p{
        margin-left: 5%;
        font-size: 42px;
        margin-bottom: 20px;
        color: #fafafa;
        text-align: left;
      }
      .connect-container n{
        font-size: 20px;
        color: #fafafa;
        text-align: left;
        margin-left: 5%;
        margin-top: 1%;
        margin-right: 5%;
      }
      .fa-linkedin-in{
        font-size: 40px;
        color: #fafafa;
        margin-right: 1%;
      }
      .fa-behance{
        font-size: 40px;
        color: #fafafa;
      }
      .icon-container {
      display: flex;
      justify-content: flex-start;
      margin-top: 2%;
      margin-left: 5%;
      gap: 2%;
      }

      .image-container {
      position: relative;
      }
      .Copyright p{
        text-align:left; 
        font-size:14px; 
        margin-top: 4%; 
        color: #7d7d7d;
        margin-left: 5%;
        margin-bottom: 0;
      }
      .hamburger {
        display: none;
      }
      .mobile-nav {
        display: none;
      }
      .mobile-nav a{
        display: none;
      }



@media only screen and (min-width: 768px) and (max-width: 1023px){

header {

        background-color: #fafafa;
        padding: 20px;
        font-family: 'Raleway', sans-serif;
      }
      body {
        background-color: #fafafa;
        margin: 0;
      }
      .header-center-1 , .header-center-2 , .header-center , .project{
        margin: 0 5%;
      }
      header nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #fafafa;
        height: 70px;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        border-bottom-style: solid;
        border-width: 0.5px;
        border-color: #dfdfdf
      }
      header nav ul {
        display: flex;
        list-style: none;
        margin: 0 60px 0 0;
        padding-top: 20px;
      }
      header nav li {
        margin: 0 20px;
      }
      header nav a {
        color: #252525;
        text-decoration: none;
      }
      header nav a.active {
        border-bottom: 2px solid #000;
        padding-bottom: 5px;
        font-weight: bold;
      }
      .header-center {
        text-align: center;
        padding: 20px 0;
      }
      .header-center-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 100vh;
      }
      .header-center-2 {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        color: #fff;
        text-align: center;
        padding: 12px;
        font-size: 16px;
      }
      .header-center-2 img{
        width: 3%;
        height: auto;
        margin: 0;
        animation: float 2s ease-in-out infinite;
      }

      .header-center-1 h1 {
        position: relative;
        top: 25%;
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 10px;
        opacity: 0; /* initially hide the text */
        transition: all 1.5s ease; /* set the transition */
      }

      .header-center-1 h1.show {
        opacity: 1; /* reveal the text */
      }

      .header-center-1 p {
        position: relative;
        top: 25%;
        font-size: 104px;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 0;
        opacity: 0; /* initially hide the text */
        transition: all 1.5s ease; /* set the transition */
      }
      .header-center-1 p.show {
        opacity: 1; /* reveal the text */
      }
      header img {
        margin: 0 0 0 60px;
        padding-top: 12px;
        height: 35px;
        width: 25px;
      }
      .contact {
        padding: 10px 40px;
        background-color: transparent;
        color: #252525;
        border: 1px solid #252525;
        border-radius: 20px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      .contact:hover {
        background-color: #252525;
        color: #ffffff;
      }

      .header-center h2 {
        margin-top: 80px;
        text-align: left;
        font-size: 18px;
        opacity: 50%;
      }
      .project {
       display: flex;
       align-items: flex-start;
       position: relative;
       flex-direction: column;
       margin-top: 20px;
      }
      .project::after {
      content: "";
      position: absolute;
      bottom: -100px;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 80%;
      background-color: rgba(0, 0, 0, 0.2);
      }

      .gap {
        margin-top: 200px;
      }

      .description {
        width: 100%;
        text-align: left;
        padding-right: 0px;
      }
      .description h3 {
        font-size: 48px;
        text-align: left;
        margin-bottom: 0px;
        margin-top: 0px;
      }
    
      .description p {
        font-size: 20px;
        line-height: 36px;
        margin-bottom: 30px;
      }
      .description minimal-button {
         padding: 10px 20px;
        background-color: transparent;
        color: #252525;
        border: 1px solid #252525;
        border-radius: 20px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
      }

      .description minimal-button:hover {
        background-color: #252525;
        color: #ffffff;
      }

      .description minimal-button::after {
        align-content: center;
        content: "→"; /* Arrow character */
        font-size: 18px; /* Set the font size */
        margin-left: 8px; /* Add some space between the text and the arrow */
      }

      h6{
        margin-bottom: 16px;
      }
      .fa-linkedin-in{
        font-size: 30px;
        color: #fafafa;
        margin-right: 1%;
      }
      .fa-behance{
        font-size: 30px;
        color: #fafafa;
        
      }

      .project img {
      margin: auto;
      margin-top: 30px;
      width: 100%;
      height: auto;
      float: right;
      }


   .connect-container {
      display: flex;
      flex-direction: column;
      text-align: left;
      padding: 4% 0;
      }
      .connect-container p{
        font-size: 24px;
      }
      .connect-container n{
        font-size: 16px;
      }

      .icon-container {
      display: flex;
      justify-content: flex-start;
      margin-top: 20px;
      gap: 3%;
      }

      .icon-container img {
      height: auto;
      width: 30px;
      border-radius: 0px;
      margin: 0 10px;
      padding-top: 0px;
      }
      .image-container {
      position: relative;
      }
      .Copyright p{
        text-align:center; 
        font-size:12px; 
        margin-top: 24px; 
        color: #7d7d7d;
        width: max-content;
      }
      .hamburger {
        display: none;
      }
      .mobile-nav {
        display: none;
      }
      .mobile-nav a{
        display: none;
      }


    }


@media only screen and (max-width: 767px){

header {

        background-color: #fafafa;
        padding: 20px;
        font-family: 'Raleway', sans-serif;
      }
      body {
        background-color: #fafafa;
        margin: 0;
      }
      .header-center-1 , .header-center-2 , .header-center , .project{
        margin: 0 5%;
      }
      header nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #fafafa;
        height: 70px;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        border-bottom-style: solid;
        border-width: 0.5px;
        border-color: #dfdfdf
      }
      header nav ul {
        display: none;
        display: flex;
        list-style: none;
        margin: 0 60px;
        padding-top: 20px;
      }
      header nav li {
        display: none;
        margin: 0 20px;
      }
      header nav a {
        color: #252525;
        text-decoration: none;
      }
      header nav a.active {

        border-bottom: 2px solid #000;
        padding-bottom: 5px;
        font-weight: bold;
      }
      .header-center {
        text-align: center;
        padding: 20px 0;
      }
      .header-center-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 100vh;
      }
      .header-center-2 {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        color: #fff;
        text-align: center;
        padding: 12px;
      }
      .header-center-2 img {
        width: 5%;
        height: auto;
        margin: 0;
        animation: float 2s ease-in-out infinite;
      }
      
      .header-center-1 h1 {
        position: relative;
        top: 23%;
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 10px;

        opacity: 0; /* initially hide the text */
        transition: all 1.5s ease; /* set the transition */
      }

      .header-center-1 h1.show {
        opacity: 1; /* reveal the text */
      }

      .header-center-1 p {
        position: relative;
        top: 23%;
        font-size: 72px;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 0;
        opacity: 0; /* initially hide the text */
        transition: all 1.5s ease; /* set the transition */
      }
      .header-center-1 p.show {
        opacity: 1; /* reveal the text */
      }
      header img {
        margin: 0 0 0 25px;
        padding-top: 17px;
        height: 35px;
        width: 25px;
      }
      .contact {
        padding: 10px 40px;
        background-color: transparent;
        color: #252525;
        border: 1px solid #252525;
        border-radius: 20px;
        font-size: 14px;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      .contact:hover {
        background-color: #252525;
        color: #ffffff;
      }

      .header-center h2 {
        margin-top: 40px;
        text-align: left;
        font-size: 12px;
        opacity: 50%;
      }
      .project {
       display: flex;
       align-items: flex-start;
       position: relative;
       flex-direction: column;
       margin-top: 10px;
      }
      .project::after {
      content: "";
      position: absolute;
      bottom: -60px;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 80%;
      background-color: rgba(0, 0, 0, 0.2);
      }
   
      .gap {
        margin-top: 120px;
      }

      .description {
        width: 100%;
        text-align: left;
        padding-right: 0px;
      }
      .description h3 {
        font-size: 36px;
        text-align: left;
        margin-bottom: 0px;
        margin-top: 0px;
      }

      .description p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 20px;
      }
      .description minimal-button {
        padding: 5px 10px;
        background-color: transparent;
        color: #252525;
        border: 1px solid #252525;
        border-radius: 20px;
        font-size: 12px;
      }

      .description minimal-button:hover {
        background-color: #252525;
        color: #ffffff;
      }

      .description minimal-button::after {
        align-content: center;
        content: "→"; /* Arrow character */
        font-size: 18px; /* Set the font size */
        margin-left: 8px; /* Add some space between the text and the arrow */
      }
      h6{
        margin-bottom: 4px;
      }

      .project img {
      margin: auto;
      margin-top: 20px;
      width: 100%;
      height: auto;
      float: right;
      }

   .connect-container {
      display: flex;
      flex-direction: column;
      text-align: left;
      padding: 6% 0;
      }
      .connect-container p{
        font-size: 24px;
      }
      .connect-container n{
        font-size: 14px;
      }

      .icon-container {
      display: flex;
      justify-content: flex-start;
      margin-top: 20px;
      gap: 4%;
      }

      .fa-linkedin-in{
        font-size: 24px;
        color: #fafafa;
        margin-right: 1%;
      }
      .fa-behance{
        font-size: 24px;
        color: #fafafa;
      }
      .Copyright p{

        text-align:left; 
        font-size:12px; 
        margin-top: 24px; 
        color: #7d7d7d
      }
              .hamburger{
        z-index: 2;
        position: relative;
        display: block;
        width: 44px;
        height: 50px;
        cursor: pointer;
        margin: 0 25px;
        padding-top: 20px;
        padding-right: 7px;
        padding-left: 7px;
        appearance: none;
        background: none;
        outline: none;
        border: none;
      }
      .hamburger .bar, .hamburger:after, .hamburger:before{
        z-index: 3;
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-color: #252525;
        margin: 7px 0px;
        transition: 0.4s;
        border-radius: 10px;
      }
      .hamburger.is-active:before{
        transform: rotate(-45deg) translate(-8px,7px);
      }
      .hamburger.is-active .bar{
        opacity: 0;
      }
      .hamburger.is-active:after{
        transform: rotate(45deg) translate(-6px,-7px);
      }
      .mobile-nav{
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 100vh;
        display: block;
        z-index: 2;
        background-color: #f5f5f5;
        padding-top: 220px;
        transition: 0.4s;

      }
      .mobile-nav.is-active{
      left: 0;
      }
      .mobile-nav a {
          display: block;
          text-align: center;
          margin-bottom: 16px;
          padding: 12px 16px;

        }
        .mobile-nav a.active {
        display: block;
        margin: 0 auto 16px;
        padding: 0;
        text-align: center;
        width: fit-content;
        border-bottom: 2px solid #000;
        padding-bottom: 5px;
        font-weight: bold;
      }

    }

            @keyframes float {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-10px);
      }
      100% {
        transform: translateY(0);
      }


